/* 
    Document   : style
    Created on : Mar 10, 2013, 10:30:07 AM
    Author     : ktonneh
    Description:
        Purpose of the stylesheet follows.
*/

#banwrap {
	background-image: url("../img/bgimg.png");
}
